# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.ruff_cache/
*.egg-info/

# Node
node_modules/
dist/
frontend/playwright-report/
frontend/test-results/

# Environnement
.env
!.env.example

# IDE / OS
.vscode/
.idea/
.DS_Store
